DEBUG=True
SECRET_KEY=generate_a_strong_secret_key_here
ALLOWED_HOSTS=127.0.0.1,localhost,.trycloudflare.com
DATABASE_URL=postgres://user:password@hostname:5432/dbname
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here
